<div class="container">
  <h1 class="bg-success text-white text-center">出身地丸分かり表</h1> 
</div><br>
<div class="container">
  <h2 class="text-dark">東京都</h1> 
</div><br>
<div class="container">
  <img src="/assets/tokyo.png" alt="">
</div><br><br>
<div class="container">   
  <div class="card border-dark">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-11">
            <table class="table">
              <tbody>
                <tr>
                  <td>なまえ1</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
                <tr>
                  <td>なまえ2</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
                <tr>
                  <td>なまえ3</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
                <tr>
                  <td>なまえ4</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
                <tr>
                  <td>なまえ5</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
                <tr>
                  <td>なまえ6</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
                <tr>
                  <td>なまえ7</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
                <tr>
                  <td>なまえ8</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
                <tr>
                  <td>なまえ9</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
                <tr>
                  <td>なまえ10</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
                <tr>
                  <td>なまえ11</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
                <tr>
                  <td>なまえ12</td>
                  <td>
                    <a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8">wikipedia</a>
                    <br>
                    <a href="https://twitter.com/">twitter</a>
                  </td>
                </tr>
              </tbody>
            </table><br>
            <nav aria-label="Page navigation example" class="float-right">
              <ul class="pagination">
                <li class="page-item active">
                  <div class="page-link">1<span class="sr-only">(current)</span></div>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br>