<div class="container">
  <h1 class="text-success">出身地丸分かり表</h1>
</div><br>
<div class="container">
  <h2 class="text-primary">都道府県一覧</h2>
</div><br>
<div class="container">
  <h3 class="text-primary">北海道・東北地方</h3>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-primary" href="#" role="buttun">北海道</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-primary" href="#" role="buttun">青森県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-primary" href="#" role="buttun">岩手県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-primary" href="#" role="buttun">宮城県</a>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-primary" href="#" role="buttun">秋田県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-primary" href="#" role="buttun">山形県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-primary" href="#" role="buttun">福島県</a>
    </div>
  </div>
</div><br>
<div class="container">
  <h3 class="text-dark">関東地方</h3>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-dark" href="#" role="buttun">茨城県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-dark" href="#" role="buttun">栃木県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-dark" href="#" role="buttun">群馬県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-dark" href="#" role="buttun">埼玉県</a>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-dark" href="#" role="buttun">千葉県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-dark" href="#" role="buttun">東京都</a>
    </div>
    <div class="col-6">
      <a class="btn btn-lg btn-outline-dark" href="#" role="buttun">神奈川県</a>
    </div>
  </div>
</div><br>
<div class="container">
  <h3 class="text-success">中部地方</h3>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-success" href="#" role="buttun">新潟県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-success" href="#" role="buttun">富山県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-success" href="#" role="buttun">石川県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-success" href="#" role="buttun">福井県</a>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-success" href="#" role="buttun">山梨県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-success" href="#" role="buttun">長野県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-success" href="#" role="buttun">岐阜県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-success" href="#" role="buttun">静岡県</a>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-success" href="#" role="buttun">愛知県</a>
    </div>
  </div>
</div><br>
<div class="container">
  <h3 class="text-warning">近畿地方</h3>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-warning" href="#" role="buttun">三重県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-warning" href="#" role="buttun">滋賀県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-warning" href="#" role="buttun">京都府</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-warning" href="#" role="buttun">大阪府</a>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-warning" href="#" role="buttun">兵庫県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-warning" href="#" role="buttun">奈良県</a>
    </div>
    <div class="col-6">
      <a class="btn btn-lg btn-outline-warning" href="#" role="buttun">和歌山県</a>
    </div>
  </div>
</div><br>
<div class="container">
  <h3 class="text-danger">中国地方</h3>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-danger" href="#" role="buttun">鳥取県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-danger" href="#" role="buttun">島根県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-danger" href="#" role="buttun">岡山県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-danger" href="#" role="buttun">広島県</a>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-danger" href="#" role="buttun">山口県</a>
    </div>
  </div>
</div><br>
<div class="container">
  <h3 class="text-info">四国地方</h3>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-info" href="#" role="buttun">徳島県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-info" href="#" role="buttun">香川県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-info" href="#" role="buttun">愛媛県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-info" href="#" role="buttun">高知県</a>
    </div>
  </div>
</div><br>
<div class="container">
  <h3 class="text-secondary">九州・沖縄地方</h3>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-secondary" href="#" role="buttun">福岡県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-secondary" href="#" role="buttun">佐賀県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-secondary" href="#" role="buttun">長崎県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-secondary" href="#" role="buttun">熊本県</a>
    </div>
  </div>
</div><br>
<div class="container">  
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-secondary" href="#" role="buttun">大分県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-secondary " href="#" role="buttun">宮崎県</a>
    </div>
    <div class="col-3">
      <a class="btn btn-lg btn-outline-secondary" href="#" role="buttun">鹿児島県</a>
    </div>
    <div class="col-3">    
      <a class="btn btn-lg btn-outline-secondary" href="#" role="buttun">沖縄県</a>
      </div>
  </div>
</div><br>
<div class="container">
  <h2 class="text-primary">海外出身</h2>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-lg btn-outline-warning" href="#" role="buttun">海外</a>
    </div>
  </div>
</div><br>
<br><br>