<br><br><br>
<div class="container">
  <h1 class="text-center text-success">声優好きの</h1><br>
  <h1 class="text-center text-success">声優好きによる</h1><br> 
  <h1 class="text-center text-success">声優好きのためのサイト</h1><br>  
</div><br><br>
<div class="container">
  <p class="text-center text-primary">このサイトでは、声優の出身地を都道府県別に調べたり、気になった声優のウィキペディアやツイッターをすぐに見ることができます。</p><br>
  <p class="text-center text-primary">また、会員登録をすればあなたの好きな声優について仲間と語り合えるコミュニティを利用することができます。</p>
</div><br><br>
<div class="container">
  <div class="row"> 
    <div class="col-7">
      <%= link_to '今すぐ登録', new_user_registration_path, class: "btn btn-warning btn-lg float-right" %>
    </div>
  </div>
</div><br><br>         