<div class="container">
  <h1 class="bg-success text-white text-center">会員情報の変更</h1>
</div><br> 
<form>
  <div class="container">
    <div class="row">      
      <div class="col-5">
        <div class="form-group">
        　<label for="exampleInputNickname" class="text-primary">ニックネーム</label>
          <input type="nickname" class="form-control border-primary" id="exampleInputNickname" aria-describedby="nicknameHelp">
        </div>  
      </div>
    </div>
  </div><br>
  <div class="container">
    <div class="row">      
      <div class="col-7">          
        <div class="form-group">
          <label for="exampleInputEmail" class="text-primary">メールアドレス</label>
          <input type="email" class="form-control border-primary" id="exampleInputEmail" aria-describedby="emailHelp">              
        </div>
      </div>
    </div>
  </div><br>
  <div class="container">
    <label for="exampleInputVoiceActor" class="text-primary">好きな声優</label>
  </div>
  <div class="container">
    <div class="form-row">      
      <div class="col-4">          
        <input type="voiceActor" class="form-control border-primary" id="exampleInputVoicsActor" aria-describedby="voiceActorHelp">              
      </div>
      <div class="col-4">          
        <input type="voiceActor" class="form-control border-primary" id="exampleInputVoiceActor" aria-describedby="voiceActorHelp">              
      </div>
      <div class="col-4">          
        <input type="voiceActor" class="form-control border-primary" id="exampleInputVoiceActor" aria-describedby="voiceActorHelp">              
      </div>
    </div>
  </div>　
</form><br>
<div class="container">
  <div class="row">
    <div class="col-7">
      <a class="btn btn-warning btn-lg float-right" href="#" role="buttun">変更</a>
    </div>
  </div>   
</div><br><br>