<div class="container">
  <h1 class="bg-success text-white text-center">登録者一覧</h1> 
</div><br>
<div class="container">
  <h2 class="text-primary"><%= "#{@voice_actor.last_name}" "#{@voice_actor.first_name}" %></h2>
</div><br>
<div class="container">   
  <div class="card border-dark">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-11">
            <table class="table">
              <tbody>
                <% @users.each do |user|%>
                  <tr>
                    <td class="h4 text-primary"><%= user.nickname %></td>                  
                    <% user.favorite_voice_actors.each do |favorite_voice_actor| %>
                      <td><%= "#{favorite_voice_actor.voice_actor.last_name} #{favorite_voice_actor.voice_actor.first_name}" %></td>
                    <% end %>
                  </tr>
                <% end %>             
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br>