<div class="container">
  <h1 class="bg-success text-white text-center">会員情報</h1>
</div><br>
<div class="container">
  <h3 class="text-primary">ニックネーム</h3>
  <h4><%= @user.nickname %><h4>         
</div><br>
<div class="container">
  <h3 class="text-primary">メールアドレス</h3>
  <h4><%= @user.email %><h4>
</div><br>
<div class="container">
  <h3 class="text-primary">好きな声優</h3>
</div>
<div class="container">
  <% @favorite_voice_actors.each do |favorite_voice_actor| %>          
    <h4><%= "#{favorite_voice_actor.last_name} #{favorite_voice_actor.first_name}" %></h4>                
  <% end %>
</div><br><br>
<div class="container">
  <div class="row">
    <div class="col-8">
      <%= link_to '会員情報・パスワードの変更', edit_user_registration_path, class: "btn btn-warning btn-lg float-right" %>
    </div>
  </div>
</div>
