<div class="container">
  <h1 class="bg-success text-white text-center">会員情報</h1>
</div><br>
<div class="container">
  <div class="row">      
    <div class="col-5">
      <h3>なまえ</h3>         
    </div>
  </div>
</div><br>
<div class="container">
  <h4 class="text-primary">好きな声優</h4>
</div>
<div class="container">
  <div class="row">      
    <div class="col-4">          
      <h4>なまえ</h4>              
    </div>
    <div class="col-4">          
      <h4>なまえ</h4>              
    </div>
    <div class="col-4">          
      <h4>なまえ</h4>              
    </div>
  </div>
</div><br><br>
<div class="container">
  <%= link_to '会員情報・パスワードの変更', "/users/:id/edit", class: "btn btn-warning btn-lg float-right" %>
</div>
  