<div class="container">
  <h1 class="bg-success text-white text-center">好きな声優の選択</h1>
</div><br> 
<div class="container">
  <h5 class="text-danger">＊あなたの好きな声優を３人まで選んでください。</h5><br>
  <h5 class="text-danger">＊声優コミュニティを利用する際は必ず選択を済ませてください。</h5><br>
  <h5 class="text-danger">＊声優コミュニティではこちらで選択されていない声優に関する投稿一覧の閲覧・投稿はできません。</h5>
</div><br><br>
<%= form_tag(favorite_voice_actors_path, method: :patch) do %>
  <div class="container">
    <div class="form-row">
      <% 3.times do |i| %>
        <div class="col-4">
          <%= select_tag "favorite_voice_actor_id_#{i + 1}", options_for_select(@voice_actors_array, selected: @favorite_voice_actors[i]&.id), include_blank: "選択してください", class: 'custom-select border-primary' %>      
        </div>
      <% end %>
    </div>
  </div><br>　
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="actions">
          <%= submit_tag "更新する", class: "btn btn-warning btn-lg float-right" %>
        </div>
      </div>
    </div>
  </div><br><br>
<% end %>
</div><br><br>