<div class="container">
  <h1 class="bg-success text-white text-center">声優コミュニティ</h1>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <% if @favorite_voice_actors.present? %>
        <% @favorite_voice_actors.each do |voice_actor| %>
          <div class="card border-primary">
            <div class="card-body">
              <h2 class="text-primary"><%= "#{voice_actor.last_name}" "#{voice_actor.first_name}" %></h2><br>
              <div class="text-right">
                <%= link_to "投稿一覧へ", favorite_voice_actor_posts_path(voice_actor), class: 'btn btn-warning btn-lg' %>
                <%= link_to "投稿する", new_favorite_voice_actor_post_path(voice_actor), class: 'btn btn-warning btn-lg' %>      
              </div> 
            </div>        
          </div><br>
        <% end %>
      <% else %>
        <br><br><br>
        <h2 class="text-danger">好きな声優を選択しておく必要があります。「会員情報」のページから好きな声優を選択してください。</h1>
      <% end %>
    </div>
  </div>
</div><br><br>