<div class="container">
  <h1 class="text-success">投稿する</h1>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <textarea class="form-control border-primary" id="exampleFormControlTextarea1" rows="3"></textarea><br>
        <a class="btn btn-warning btn-lg float-right" href="#" role="button">投稿する</a>
      </div>
    </div>
  </div>  
</div><br><br>