<div class="container">
  <h1 class="bg-success text-white text-center">会員登録</h1>
</div><br>
<form>
  <div class="container">
    <div class="row">      
      <div class="col-5">
        <div class="form-group">
          <label for="exampleInputnickname" class="text-primary">ニックネーム</label>
          <input type="nickname" class="form-control border-primary" id="exampleInputnickname" aria-describedby="nicknameHelp">
        </div>  
      </div>
    </div>
    <small id="nicknameHelp" class="form-text text-primary text-muted">声優コミュニティを利用する際に使用されます。</small>
  </div><br>
</form>
<form>
  <div class="container">
    <div class="row">      
      <div class="col-7">          
        <div class="form-group">
          <label for="exampleInputEmail" class="text-primary">メールアドレス</label>
          <input type="email" class="form-control border-primary" id="exampleInputEmail" aria-describedby="emailHelp">              
        </div>
      </div>
    </div>
  </div><br>
</form>
<form>
  <div class="container">
    <div class="row">   
      <div class="col-7">
        <div class="form-group">
          <label for="exampleInputPassword" class="text-primary">パスワード</label>
          <input type="password" class="form-control border-primary" id="exampleInputPassword">
        </div>
      </div>   
    </div>
  </div><br>
</form>
<form>
  <div class="container">
    <label for="exampleInputVoiceActor" class="text-primary">好きな声優</label>
  </div>
  <div class="container">
    <div class="form-row">      
      <div class="col-4">          
          <input type="voiceActor" class="form-control border-primary" id="exampleInputVoicsActor" aria-describedby="voiceActorHelp">              
        </div>
      <div class="col-4">          
          <input type="voiceActor" class="form-control border-primary" id="exampleInputVoiceActor" aria-describedby="voiceActorHelp">              
      </div>
      <div class="col-4">          
          <input type="voiceActor" class="form-control border-primary" id="exampleInputVoiceActor" aria-describedby="voiceActorHelp">              
        </div>
      </div>
    </div>
  </div>  
</form><br><br>
<div class="container">
  <div class="col-7">
    <a class="btn btn-warning btn-lg float-right" href="#" role="buttun">登録</a>
  </div>
</div><br><br><br><br>