<% if @post.errors.any? %>
  <div class="container">  
    <div class="alert alert-danger" role="alert">
      投稿内容を記載してください。
    </div>
  </div>  
<% end %>
<div class="container">
  <h1 class="bg-success text-white text-center">投稿する</h1>
</div><br>
<div class="container">
  <h2 class="text-primary"><%= "#{@voice_actor.last_name}" "#{@voice_actor.first_name}" %></h2>
  <div class="row">
    <div class="col-12">
      <%= form_for(@post, url: favorite_voice_actor_posts_path(@voice_actor)) do |f| %>
        <div class="form-group">
          <%= f.text_area :message, class: "form-control border-primary", id: "exampleFormControlTextarea1", rows:16, placeholder: "#{@voice_actor.last_name}" "#{@voice_actor.first_name}" "さんのことについて色々書いてね！" %><br>
          <%= f.submit "投稿する", class: "btn btn-warning btn-lg float-right" %>
        </div>
      <% end %>
    </div>
  </div>  
</div><br><br>