<div class="container">
  <h1 class="bg-success text-white text-center">投稿一覧</h1>
</div><br>
<div class="container">
  <% 1.times do |i| %>
    <% if i == 0 %> 
      <h2 class="text-primary"><%= "#{@favorite_voice_actors[i].last_name}" "#{@favorite_voice_actors[i].first_name}" %></h2>
    <% end %>
  <% end %>
</div>
<div class="container">
  <div class="text-right">
    <% 1.times do |i| %>
      <% if i == 0 %> 
        <%= link_to "登録者一覧", voice_actor_users_path(@favorite_voice_actors[i].id), class: 'btn btn-warning btn-lg' %>
      <% end %>
    <% end %>     
  </div> 
</div><br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card border-primary">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5>投稿内容</h5>
            </div>
            <div class="col-12">
              <h5 class="float-right">なまえ</h5>
            </div>
            <div class="col-12">
              <h6 class="float-right">○○○○年○月○日</h6>
            </div>  
          </div>
        </div>   
      </div><br>
      <div class="card border-primary">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5>投稿内容</h5>
            </div>
            <div class="col-12">
              <h5 class="float-right">なまえ</h5>
            </div>
            <div class="col-12">
              <h6 class="float-right">○○○○年○月○日</h6>
            </div>  
          </div>
        </div>
      </div><br>
      <div class="card border-primary"> 
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5>投稿内容</h5>
            </div>
            <div class="col-12">
              <h5 class="float-right">なまえ</h5>
            </div>
            <div class="col-12">
              <h6 class="float-right">○○○○年○月○日</h6>
            </div>  
          </div>
        </div>  
      </div><br>
      <div class="card border-primary">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5>投稿内容</h5>
            </div>
            <div class="col-12">
              <h5 class="float-right">なまえ</h5>
            </div>
            <div class="col-12">
              <h6 class="float-right">○○○○年○月○日</h6>
            </div>  
          </div>
        </div>   
      </div><br>
    </div>
  </div>
</div><br><br>