<div class="container">
  <h1 class="bg-success text-white text-center">投稿一覧</h1>
</div>
<div class="container">
　<h2 class="text-primary">なまえ1</h2>
<div class="text-right">
  <%= link_to "登録者一覧", users_path, class: 'btn btn-warning btn-lg' %>     
</div> 
</div><br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card border-primary">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5>投稿内容</h5>
            </div>
            <div class="col-12">
              <h5 class="float-right">なまえ</h5>
            </div>
            <div class="col-12">
              <h6 class="float-right">○○○○年○月○日</h6>
            </div>  
          </div>
        </div>   
      </div><br>
      <div class="card border-primary">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5>投稿内容</h5>
            </div>
            <div class="col-12">
              <h5 class="float-right">なまえ</h5>
            </div>
            <div class="col-12">
              <h6 class="float-right">○○○○年○月○日</h6>
            </div>  
          </div>
        </div>
      </div><br>
      <div class="card border-primary"> 
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5>投稿内容</h5>
            </div>
            <div class="col-12">
              <h5 class="float-right">なまえ</h5>
            </div>
            <div class="col-12">
              <h6 class="float-right">○○○○年○月○日</h6>
            </div>  
          </div>
        </div>  
      </div><br>
      <div class="card border-primary">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h5>投稿内容</h5>
            </div>
            <div class="col-12">
              <h5 class="float-right">なまえ</h5>
            </div>
            <div class="col-12">
              <h6 class="float-right">○○○○年○月○日</h6>
            </div>  
          </div>
        </div>   
      </div><br>
    </div>
  </div>
</div><br><br>