<div class="container">
  <h1 class="bg-success text-white text-center">声優一覧表</h1>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="btn  btn-lg btn-warning active">あ<span class="sr-only">(current)</span></div><br><br>
      <a class="btn btn-lg btn-warning" href="#" role="buttun">か</a><br><br>
      <a class="btn btn-lg btn-warning" href="#" role="buttun">さ</a><br><br>
      <a class="btn btn-lg btn-warning" href="#" role="buttun">た</a><br><br>
      <a class="btn btn-lg btn-warning" href="#" role="buttun">な</a><br><br>
      <a class="btn btn-lg btn-warning" href="#" role="buttun">は</a><br><br>
      <a class="btn btn-lg btn-warning" href="#" role="buttun">ま</a><br><br>
      <a class="btn btn-lg btn-warning" href="#" role="buttun">や</a><br><br>
      <a class="btn btn-lg btn-warning" href="#" role="buttun">ら</a><br><br>
      <a class="btn btn-lg btn-warning" href="#" role="buttun">わ</a><br><br>
    </div>   
    <div class="col-10">
      <div class="card border-primary">
        <div class="card-body">   
          <table class="table">
            <tbody>
              <% @voice_actors.each do |voice_actor| %>
                <tr>
                  <td><%= "#{voice_actor.last_name} #{voice_actor.first_name}" %></td>
                  <td>
                    <a href='<%= voice_actor.wikipedia_url %>'>wikipedia</a>
                    <br>
                    <a href='<%= voice_actor.twitter_url %>'>twitter</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <nav aria-label="Page navigation example" class="float-right">
            <ul class="pagination">
              <li class="page-item active">
                <div class="page-link">1<span class="sr-only">(current)</span></div>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div><br>